


body {
  background-color: #FFEBCD;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  background: url(../images/background-4.jpg);
  height: 400px;
  background-size: cover;
  text-align: center;
  padding: 15px 0;
}

section {
  padding: 20px 0;
}

footer {
  padding: 5px 0;
}

header h1 {
  font-size: 60px;
  font-family: 'Roboto Slab', serif;
}

h1, h2 {
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.profile-pic {
  width: 250px;
  float: left;
  margin: 20px 25px ;
}

.content-wrapper {
  max-width: 1050px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 20px;
}

.profile {
  background-color: rgba(143,188,143,0.9);
}


.work {
  background-color: rgba(143,188,143,0.9);

}

.volunteer {

}

.skills {

}

.education {
  background-color: rgba(143,188,143,0.9);
}

.reference {


}

.contact {
  background-color: #808080
}

.fa {
  color: black;
}
